@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400);

:root {
    --dark-color: #16191b;
    --light-color: #e2e6e8;
    --bg-color: var(--dark-color);
    --fg-color: var(--light-color);
}

.light {
    --bg-color: var(--light-color);
    --fg-color: var(--dark-color);
}

.no-transitions,
.no-transitions *,
.no-transitions *:before {
    transition: none !important;
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
    counter-reset: section;
    font-family: IBM Plex Mono, monospace;
    font-weight: 300;
    height: 100%;
    margin: 0;
    transition: 0.3s;
}

p {
    line-height: 1.6;
}

a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

a:after {
    background: var(--fg-color);
    bottom: -2px;
    content: '';
    height: 1px;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
}

a:hover:after {
    opacity: 1;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 720px;
    padding: 24px 16px;
    width: 100%;
}

section {
    position: relative;
}

.section-title {
    counter-increment: section;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: .15em;
    opacity: .2;
    text-transform: uppercase;
}

.section-title:before {
    content: counter(section, decimal-leading-zero) ". ";
}

@media screen and (min-width:919px) {
    .section-title {
        left: -16px;
        margin: 0;
        position: absolute;
        text-align: right;
        top: 2px;
        transform: translate(-100%);
    }
}

#greeting {
    font-size: 24px;
}

#info {
    font-size: 14px;
    margin: 40px 0 32px;
}

#contact {
    font-size: 13px;
}

#contact ul {
    column-gap: 24px;
    columns: 4 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:719px) {
    #contact ul {
        columns: 3 auto;
    }
}

@media screen and (max-width:450px) {
    #contact ul {
        columns: 1 auto;
    }
}

#mode-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
}

.switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    border-radius: 15px;
    border: 1px solid var(--fg-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1px;
    background-color: var(--fg-color);
    transition: 0.4s;
    border-radius: 50%;
}

#mode-toggle input:checked + .slider:before {
    transform: translateX(12px);
}