@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400);

html,
body {
    background: #16191b;
    color: #e2e6e8;
    counter-reset: section;
    font-family: IBM Plex Mono, monospace;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

p {
    line-height: 1.6;
}

a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

a:after {
    background: #e2e6e8;
    bottom: -2px;
    content: '';
    height: 1px;
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
}

a:hover:after {
    opacity: 1;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 720px;
    padding: 24px 16px;
    width: 100%;
}

section {
    position: relative;
}

section .section-title {
    color: #e2e6e8;
    counter-increment: section;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: .15em;
    opacity: .2;
    text-transform: uppercase;
}

section .section-title:before {
    content: counter(section, decimal-leading-zero) ". ";
}

@media screen and (min-width:919px) {
    .section-title {
        left: -16px;
        margin: 0;
        position: absolute;
        text-align: right;
        top: 2px;
        transform: translate(-100%);
    }
}

#greeting {
    font-size: 24px;
}

#info {
    font-size: 14px;
    margin: 40px 0 32px;
}

#contact {
    font-size: 13px;
}

#contact ul {
    column-gap: 24px;
    columns: 4 auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:719px) {
    #contact ul {
        columns: 3 auto;
    }
}

@media screen and (max-width:450px) {
    #contact ul {
        columns: 1 auto;
    }
}