.horizontalList {
  margin: 0;
  padding: 0;
}

.horizontalList li {
  display: inline-block;
}

.horizontalList li:before {
  content: '|';
  padding: 0 1em;
}

.horizontalList li:first-child:before {
  content: '';
  padding: 0;
}